@media (max-width: 600px) {
    #form-upper-part form {
        /* background-color: blanchedalmond; */
        height: 290px;
        display: flex;
        flex-wrap: wrap;
        width: 94%;
    }
    #submit-btn{
        width: 100%;
    }
    #chat-form{
        background-color: #8b0101;
        width: 350px;
        height: 600px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        padding: 10px;
        top: 10%;
        right: -400px;
        z-index: 2000;
    
      }
      #chat-form ul li{
        background-color: white;
        width: 100%;
        border-radius: 30px;
        height: 40px;
        /* padding: 0 5px; */
        display: flex;
        align-items: center;
    
        
    }
    #chat-form h1{
        font-size: 25px;
        font-weight: 400;
        color: white;
        /* padding-left: 20px; */
    }
    #chat-form ul li a{
        color: black;
    
    }
    #chat-form h2{
        color: white;
        font-size: 12px;
    }
    
    #mess-box{
        height: 50px;
        width: 100%;
        /* padding: 0px 20px; */
        border-radius: 30px;
        border: none;
    }
    #chat-form h3{
        color: white;
    }
    #cross-icon{
        display: flex;
        justify-self: right;
        color: white;
        /* margin-right: -350px; */
        cursor: pointer;
    }
    
}

@media (min-width: 600px) and (max-width: 768px) {
    #checked-box span{
        /* text-align: left; */
    padding: 0px;
/* display: inline-block;  */
/* width: 100%; */

    }
    #submit-btn{
        width: 100%;
    }
    #checked-box {
        width: 100%;
        flex-direction: column;        /* flex-wrap: wrap; */
        padding: 20px;
        height: auto;
        align-items: start;
        
        /* background-color: blueviolet; */
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #form-lower-part p {
        padding-top: 10px;
    }

    #checked {
        height: 20px;
    }

    #checked-text {
        display: flex;
        /* background-color: blueviolet; */
        height: 70;
        width: 100%;
        color: #666666;
    }
    #checked-box span{
        text-align: left;
        padding: 10px;
        width: auto;
    }
    #checked-box {
        
        flex-wrap: wrap;
        padding: 20px;
        height: auto;
        
        /* background-color: blueviolet; */
    }
}

@media (min-width: 992px) and (max-width: 1200px) {}

@media (max-width: 1240px) {
    #form-upper-part form {
        /* background-color: blanchedalmond; */
        height: auto;
        width: 100%;
    }

    #tp-left-part h1 {
        font-size: 30px;
        font-weight: 400;
    }

    #form-head {
        font-weight: 400;
        font-size: 15px;
    }

    #tp-left-part {
        /* background-color: #ee00ee; */
        background-color: #eeee;
        height: auto;
        width: auto;
        border-radius: 20px;
        padding: 30px 30px;

    }

    #country {
        width: 100%;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        box-sizing: border-box;
    }


    .input-box {
        border: none;
        margin-bottom: 30px;
        height: 40px;
        font-size: 14px;
        border-radius: 40px;
        width: 100%;

    }


    #third-part {
        display: flex;
        /* width: 100%; */
        flex-direction: column;
        /* padding-top: 100px; */
        padding:0px;
        /* background-color: blue; */
        justify-content: center;
        gap: 20px;
        padding: 0px 20px;
    }

    #rp-img {
        height: 570px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        border-radius: 10px;
        /* position: relative; */
    }

    #message {
        border: none;
        padding: 0px 10px;
        margin-bottom: 30px;
        height: 80px;
        gap: 20px;
        border-radius: 20px;
        font-size: 14px;
    }

    #form-lower-part {
        position: relative;
    }

    /* #submit-btn {
        position: absolute;
        right: 50px;
        bottom: 50px;
        height: 37px;
        padding: 2px 10px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 600;
        border: 3px solid black;
    } */

    #form-lower-part p {
        padding-top: 10px;
    }

    #checked {
        height: 20px;
    }

    #checked-text {
        display: flex;
        /* background-color: blueviolet; */
        height: 70;
        width: 100%;
        color: #666666;
    }
    #checked-box span{
        text-align: left;
        padding: 10px;
        width: auto;
    }
    #checked-box {
        
        flex-wrap: wrap;
        padding: 20px;
        height: auto;
        
        /* background-color: blueviolet; */
    }

}

